/* this I added to get the support of google fonts and I used the Outfit font ok */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* this is the boilerplate defualt */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  font-family: 'Outfit';
}

#mobile-menu {
    z-index: 50;
}

::-moz-selection { 
  color: black;
  background: yellow;
}

::selection {
  color: black;
  background: yellow;
}

/* this code I added for the mansory grid layout. I learnt this from youtube */
.list {
  columns: 300px;
  column-gap: 20px; 
}

.list img {
  width: 100%;
  margin-bottom: 20px; 
}

.image-container {
  position: relative;
  display: inline-block;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
}

.image-container img {
  display: block;
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  transition: transform 0.5s ease;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 221, 0);
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.image-container:hover .overlay {
  opacity: 1;
  transform: translateY(0); 
}

/* this I added for the active class style */
nav a.active {
    color: rgb(243, 218, 0); /* Highlight color */
    font-weight: bold;
    
}

/* and this for the mobile view style */
#sidebar a.active {
    color: rgb(0, 0, 0); /* Highlight color */
    font-weight: bold;
    transform: scale(1.4);
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* this I added to remove the scrollbar from that blog section */
::-webkit-scrollbar {
  @apply hidden
}



